@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"),
    url("../components/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf")
      format("truetype");
  font-family: "SourceSansProBlack";
  src: local("SourceSansProBlack"),
    url("../components/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf")
      format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: SourceSansPro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* NAVBAR HOME */

.nav-link {
  font-weight: bold;
}

.nav-link__active {
  text-decoration: underline;
}
